.a_1{
position: absolute;top: -95px;left: 50px;width:200px;
}
.a_2{
position: absolute;top: 337px;left: -358px;visibility: visible;
}
.a_3{
left: -311px;position: absolute;top: 409px;visibility: visible;
}

.a_4{
left: -358px;position: absolute;top: 480px;visibility: visible;
}

.a_5{
position: absolute;top: -197px;left: -43px;visibility: visible;
}

.a_6 {
  left: 103px;
  position: absolute;
  top: -263px;
  visibility: visible;
  width: 100px;
}

.a_7{
position: absolute; top: -180px; left: -58px; visibility: visible;
}

.a_8 {
  left: 78px;
  position: absolute;
  top: -221px;
  visibility: visible;
}

.a_9{
left: -95px;
    position: absolute;
    top: -98px;
}

.a_10{
position: absolute;top: 337px;left: -358px;visibility: visible;
}

.a_11{
position: absolute;left: 53px;top: -184px;width: 100%;visibility: visible;
}

.a_12{
position: absolute; left: -70px; top:-307px; visibility: visible;
}

.a_13{
position: absolute; top: -305px; left: 98px; width: 100%; visibility: visible;
}

.a_14{
position: absolute; top: -305px; left: -60px; visibility: visible;
}

.a_15{
position: absolute; top: -65px; left: -135px; visibility: visible;
}

.a_16{
position: absolute;top: -95px;left: -105px;visibility: visible;
}

.a_17 {
  left: 159px;
  position: absolute;
  top: -233px;
  visibility: visible;
  width: 44%;
}

.a_18{
position: relative; top: -285px; left: 45px; width: 100px; visibility: visible;
}

.a_19{
position: absolute; top: -365px; left: -42px; visibility: visible;
}

.a_20{
position: absolute;top: -286px;left: 35px;visibility: visible;
}

.a_21{
position: absolute;top: -227px;left: 53px;visibility: visible;width: 200px;
}

.a_22{
position: absolute; width: 75px; top: -180px; left: 125px; visibility: visible;
}

.a_23{
position: absolute; width: 75px; top: -180px; left: 0px; visibility: visible;
}

.a_24{
position: absolute;top: -242px;left: -138px;visibility: visible;width: 200px;
}

.a_25{
position: absolute; top: -73px;left: -28px;visibility: visible;
}

.a_26{
left: 29px;
    position: relative;
    top: -31px;
}

.a_27 {
  left: -58px;
  position: absolute;
  top: -176px;
  visibility: visible;
}

.a_28{
position: relative; top: -368px; visibility: visible;
}

.a_29{
position: absolute;top: -224px;left: 48px;visibility: visible;
}

.a_30{
position: absolute;left: -149px;top: -170px;visibility: visible;
}

.a_31{
position: absolute; top: -50px; left: -30px; visibility: visible;
}

.a_32{
position: absolute; top: -70px; left: -97px;
}

.a_33{
position: absolute; top: -195px; visibility: visible;
}

.a_34{
position: relative; top: -306px; left: -181px; visibility: visible;
}

.a_35{
position: absolute;top: -374px;left: -85px;visibility: visible;
}

.a_36{
position: absolute; top: -160px; left: -114px; visibility: visible;
}

.a_37{
position: absolute; top: -203px; left: -10px; visibility: visible;
}

.a_38{
position: absolute; top: -180px; left: -20px; visibility: visible;
}

.a_39{
position: absolute; top: -147px; left: 36px; visibility: visible;
}

.a_40{
position: relative;left: 400px;width: 90px;top: -284px;visibility: visible;
}
.a_41 {left: -46px;position: absolute;top: -377px;visibility: visible;}
.a_42{
position: absolute;top: -118px;left: -338px;visibility: visible;
}

.a_43{
position: absolute;left: 457px;width: 75px;top: -296px;visibility: visible;
}

.a_44 {
  left: 405px;
  position: relative;
  top: -453px;
  visibility: visible;
  width: 100px;
}

.a_45{
position: relative; top: -261px; left: -101px; visibility: visible;
}

.a_46{
position: absolute; top: -351px; left: -44px; visibility: visible;
}

.a_47{
position: absolute; top: -343px; left: 40px; visibility: visible;
}

.a_48{
position: absolute;top: -174px;le;left: -186px;visibility: visible;
}

.a_49{
 left: 327px; position: relative;top: -249px;
}

.a_50 {
  left: 131px;
  position: absolute;
  top: -354px;
  visibility: visible;
  width: 150px;
}

.a_51 {
  left: 200px;
  position: relative;
  top: -565px;
  visibility: visible;
  width: 100px;
}

.a_52{
position: absolute; top: -276px; left: 52px; visibility: visible;
}

.a_53{
position: absolute; top: -265px; left: -7px; visibility: visible;
}

.a_54{
position: absolute; top: -185px; visibility: visible;
}

.a_55{
position: relative; top: -320px; left: 81px; visibility: visible;
}

.a_56 {
  left: -8px;
  position: absolute;
  top: 2px;
  visibility: visible;
}

.a_57{
position: relative;top: -508px;left: -78px;visibility: visible;
}

.a_58{
position: absolute;top: -360px;left: -73px;visibility: visible;
}

.a_59{
position: absolute; top: -180px; visibility: visible;
}

.a_60{
position: absolute; top: -251px; left: 365px; width: 130px; visibility: visible;
}

.a_61{
position: absolute; top: -210px; visibility: visible;
}

.a_62{
 left: -43px;position: absolute;top: -187px;
}

.a_63{
position: relative; visibility: visible; left: -114px; top: -59px;
}

.a_64{
position: absolute; top: -253px; left: 109px; visibility: visible;
}

.a_65{
position: absolute;top: -189px;left: -15px;visibility: visible;
}

.a_66{
position: absolute; top: -127px; visibility: visible;
}

.a_67{
position: absolute;top: -515px;left: 85px;visibility: visible;
}

.a_68{
position: absolute; top: -328px; left: -43px; visibility: visible;
}

.a_69 {
    left: 52px;
    position: absolute;
    top: -262px;
    visibility: visible;
}

.a_70{
left: 55px;position: absolute;top: -140px;width: 120px;visibility: visible;
}

.a_71{
position: absolute;top: -195px;visibility: visible;
}

.a_72{
position: relative;top: -230px;left: 465px;width: 100px;visibility: visible;
}

.a_73 {
  left: 5px;
  position: absolute;
  top: -215px;
  width: 133%;
}

.a_74{
position: absolute; top: -216px; left: -66px; visibility: visible;
}

.a_75{
position: absolute;top: -289px;left: -84px;visibility: visible;
}

.a_76{
position: absolute;top: -125px;left: 68px;visibility: visible;
}

.a_77{
position: relative;top: -319px;left: -83px;visibility: visible;
}

.a_78{
position: absolute; visibility: visible; top: -62px; left: 5px;
}

.a_79{
position: absolute; visibility: visible; left: 32em; width: 59%; top: -4em;
}

.a_80{
position: absolute; visibility: visible; width: 45%; left: 29em; top: 2em;
}

.a_81{
position: absolute; visibility: visible; top: -4em; left: 22em; width: 52%;
}

.a_82{
position: absolute; visibility: visible; width: 45%; left: 17em; top: 1em;
}

.a_83{
position: absolute; visibility: visible; left: 10em; width: 46%; top: -6em;
}

.a_84{
position: absolute; visibility: visible; width: 46%; left: 6em; top: 0em;
}

.a_85{
position: absolute; visibility: visible; width: 46%; left: 10em; top: 6em;
}

.a_86{
position: absolute; visibility: visible; width: 46%; left: 21em; top: 6em;
}

.a_87{
position: absolute; visibility: visible; width: 46%; top: 9em; left: 36em;
}

.a_88{
position: absolute; visibility: visible; width: 46%; top: -3em; left: 42em;
}

.a_89{
position: absolute; visibility: visible; width: 46%; top: -9em; left: 39em;
}

.a_90{
position: absolute; visibility: visible; width: 46%; left: 48em; top: -11em;
}

.a_91{
position: absolute; visibility: visible; width: 46%; left: 47em; top: -19em;
}

.a_92{
position: absolute; visibility: visible; width: 46%; left: 38em; top: -14em;
}

.a_93{
position: absolute; visibility: visible; width: 46%; top: -21em; left: 38em;
}

.a_94{
position: absolute; visibility: visible; width: 46%; top: -26em; left: 45em;
}

.a_95{
position: absolute; visibility: visible; width: 46%; top: -34em; left: 45em;
}

.a_96 {
  left: 34em;
  position: absolute;
  top: -32em;
  visibility: visible;
  width: 52%;
}

.a_97{
position: absolute; visibility: visible; width: 46%; left: 39em; top: -38em;
}

.a_98{
position: absolute; visibility: visible; width: 46%; top: -44em; left: 41em;
}

.a_99{
position: absolute; visibility: visible; width: 46%; top: -51em; left: 41em;
}

.a_100{
position: absolute; visibility: visible; width: 46%; left: 37em; top: -56em;
}

.a_101{
position: absolute; visibility: visible; width: 46%; left: -37em; top: 6em;
}

.a_102{
position: absolute; visibility: visible; width: 46%; left: -51em; top: 13em;
}

.a_103{
position: absolute; visibility: visible; width: 60%; top: 14em; left: -75em;
}

.a_104{
position: absolute; visibility: visible; width: 46%; left: -78em; top: 9em;
}

.a_105{
position: absolute; visibility: visible; width: 60%; top: 2em; left: -75em;
}

.a_106{
position: absolute; visibility: visible; width: 46%; left: -77em; top: -3em;
}

.a_107{
position: absolute; visibility: visible; width: 46%; top: -8em; left: -71em;
}

.a_108{
position: absolute; visibility: visible; width: 46%; top: -14em; left: -75em;
}

.a_109{
position: absolute; visibility: visible; width: 46%; left: -71em; top: -19em;
}

.a_110{
position: absolute; visibility: visible; width: 46%; left: -75em; top: -23em;
}

.a_111{
position: absolute; visibility: visible; width: 46%; top: -28em; left: -73em;
}

.a_112{
position: absolute; visibility: visible; width: 46%; top: -32em; left: -71em;
}

.a_113{
position: absolute; visibility: visible; width: 46%; left: -39em; top: 11em;
}

.a_114{
position: absolute; visibility: visible; width: 46%; left: -64em; top: 10em;
}

.a_115{
position: absolute; visibility: visible; width: 46%; left: -56em; top: 8em;
}

.a_116{
position: absolute; visibility: visible; width: 46%; left: -58em; top: 3em;
}

.a_117{
position: absolute; visibility: visible; width: 46%; left: -68em; top: 5em;
}

.a_118{
position: absolute; visibility: visible; width: 46%; left: -27em; top: 8em;
}

.a_119{
position: absolute; visibility: visible; width: 46%; left: -48em; top: 5em;
}

.a_120{
position: absolute; visibility: visible; width: 46%; top: 7em; left: -15em;
}

.a_121{
position: absolute; visibility: visible; width: 46%; left: -4em; top: 0em;
}

.a_122{
position: absolute; visibility: visible; width: 58%; top: 4em; left: 0em;
}

.a_123{
position: absolute; visibility: visible; width: 55%; left: -4em; top: 9em;
}

.a_124{
position: absolute;top: -379px;left: 112px;width: 66%;visibility: visible;
}

.a_125{
position: absolute;top: -330px;left: 198px;visibility: visible;width: 100%;
}

.a_126{
left: -24px; position: absolute;top: -177px; visibility: visible;
}

.a_127{
left: 2px;position: absolute;top: -115px;visibility: visible;
}

.a_128{
left: 141px;position: absolute;top: -110px;visibility: visible;width: 59%;
}

.a_129{
left: 100px;position: absolute;top: -43px;visibility: visible;
}

.a_130{
left: -33px;position: absolute;top: -46px;visibility: visible;
}

.a_131{
position: absolute; top: -233px; left: 235px; width: 120px; visibility: visible;
}

.a_132{
position: absolute; top: -175px; left: 210px; width: 67%; visibility: visible;
}

.a_133{
position: absolute; visibility: visible; left: 55px; top: -141px;
}

.a_134{
position: absolute; visibility: visible; top: -145px; left: -234px;
}

.a_135{
position: absolute; visibility: visible; left: -6em; top: -8em;
}

.a_136{
position: absolute; visibility: visible; left: -16em; top: -6em;
}

.a_137{
position: absolute; visibility: visible; left: -8em; top: -1em;
}

.a_138{
position: absolute; visibility: visible; left: -20em; top: -1em;
}

.a_139{
position: absolute; visibility: visible; width: 54%; left: 4em; top: -7em;
}

.a_140{
position: absolute; visibility: visible; left: 2em; top: -1em;
}

.a_141 {
  left: 209px;
  position: absolute;
  top: -234px;
  visibility: visible;
  width: 100px;
}

.a_142{
position: absolute; top: -160px; left: 190px; width: 80px; visibility: visible;
}

.a_143{
position: absolute; top: -276px; left: 21px; visibility: visible;
}

.a_144{
position: absolute; top: -260px; visibility: visible;
}

.a_145{
position: absolute; top: -300px; left: -66px; visibility: visible;
}

.a_146{
position: absolute;top: -275px;left: 534px;width: 100px;visibility: visible;
}

.a_147{
top: -374px;left: 272px;width: 110px;position: absolute;visibility: visible;
}

.a_148{
position: absolute; top: -220px; left: 100px; visibility: visible;
}
@media only screen and (max-width: 1440px)
{
.a_100 {
    left: 35em;
    position: absolute;
    top: -46em;
    width: 46%;
}
}
@media only screen and (max-width: 991px)
{
	.a_19 {
  left: -94px;
  
}
.a_14 {
  left: -24px;
  
}
.a_13 {
  left: 154px;
  
}
.a_6 {
  left: 138px;
  
}
.a_28 {
  left: 91px;
 
}
.a_18 {
  left: -14px;
 
}
.a_20 {
  left: 3px;
  top: -306px;
  width: 88%;
}
.a_41 {
  left: -46px;
  position: absolute;
  top: -376px;
  visibility: visible;
}
.a_46 {
  left: -108px;
  position: absolute;
  top: -351px;
  visibility: visible;
}
.a_8 {
  left: 76px;
  position: absolute;
  top: -206px;
  visibility: visible;
  width: 60%;
}
.a_17 {
  left: 168px;
  position: absolute;
  top: -197px;
  visibility: visible;
  width: 88%;
}
.a_51 {
  left: 144px;
  position: relative;
  top: -535px;
  visibility: visible;
  width: 100px;
}
.a_67 {
  left: 140px;
  position: absolute;
  top: -524px;
  visibility: visible;
  width: 60%;
}
.a_62 {
  left: -79px;
  position: absolute;
  top: -187px;
  width: 173%;
}
.a_1 {
  left: -26px;
  position: absolute;
  top: -95px;
  width: 218px;
}
.a_73 {
  left: -32px;
  position: absolute;
  top: -215px;
  width: 195%;
}
.a_32 {
  left: -97px;
  position: absolute;
  top: -120px;
}
.a_5 {
    left: -57px;
    position: absolute;
    top: -188px;
    visibility: visible;
}
.a_7 {
  left: -49px;
  position: absolute;
  top: -189px;
  visibility: visible;
}
.a_21 {
  left: -9px;
  position: absolute;
  top: -212px;
  visibility: visible;
  width: 200px;
}
.a_34 {
  left: -139px;
  position: relative;
  top: -295px;
  visibility: visible;
}
.a_57 {
  left: -47px;
  position: relative;
  top: -528px;
  visibility: visible;
}
.a_43 {
  left: 392px;
  position: absolute;
  top: -296px;
  visibility: visible;
  width: 75px;
}
.a_49 {
  left: 282px;
  position: relative;
  top: -293px;
  width: 200px;
}
.a_57 {
  left: -47px;
  position: relative;
  top: -496px;
}
.a_67 {
  left: 120px;
  position: absolute;
  top: -503px;
  width: 60%;
}
.a_124 {
  left: 52px;
  position: absolute;
  top: -404px;
  width: 200px;
}
.a_60 {
  left: 267px;
  position: absolute;
  top: -250px;
  width: 130px;
}
.a_125 {
  left: 151px;
  position: absolute;
  top: -350px;
  width: 100%;
}
.a_148 {
  left: 120px;
  position: absolute;
  top: -191px;
  width: 200px;
}
.a_83 {
  left: 10em;
  position: absolute;
  top: -4em;
  width: 200px;
}
.a_81 {
  left: 20em;
  position: absolute;
  top: -3em;
  width: 200px;
}
.a_131 {
  left: 180px;
  position: absolute;
  top: -204px;
  width: 120px;
}
.a_133 {
  left: 55px;
  position: absolute;
  top: -154px;
  width: 200px;
}
.a_139 {
  left: 0;
  position: absolute;
  top: -6em;
  width: 200px;
}
.a_61 {
  left: 62px;
  position: absolute;
  top: -199px;
  width: 200px;
}
.a_64 {
  left: 68px;
  position: absolute;
  top: -243px;
  width: 200px;
}
.a_39 {
  left: -18px;
  position: absolute;
  top: -129px;
  width: 200px;
}
.a_26 {
  left: 43px;
  position: relative;
  top: -12px;
}
.a_55 {
  left: 171px;
  position: relative;
  top: -302px;
}
.a_76 {
  left: 69px;
  position: absolute;
  top: -103px;
  width: 200px;
}
.a_128 {
  left: 204px;
  position: absolute;
  top: -58px;
  width: 200px;
}
.a_143 {
  left: -42px;
  position: absolute;
  top: -248px;
  width: 200px;
}
.a_126 {
  left: -114px;
  position: absolute;
  top: -158px;
}
.a_63 {
  left: -174px;
  position: relative;
  top: -59px;
}
.a_127 {
  left: -45px;
  position: absolute;
  top: -98px;
}
.a_130 {
  left: -106px;
  position: absolute;
  top: -56px;
}
.a_74 {
  left: -90px;
  position: absolute;
  top: -216px;
}
.a_52 {
  left: 10px;
  position: absolute;
  top: -276px;
  width: 200px;
}
.a_68 {
  left: -117px;
  position: absolute;
  top: -346px;
}
.a_47 {
  left: -9px;
  position: absolute;
  top: -320px;
  width: 200px;
}
.a_30 {
  left: -149px;
  position: absolute;
  top: -186px;
}
.a_38 {
  left: -20px;
  position: absolute;
  top: -211px;
}
.a_25 {
  left: -28px;
  position: absolute;
  top: -118px;
}
.a_45 {
  left: -145px;
  position: relative;
  top: -261px;
}
.a_15 {
  left: -135px;
  position: absolute;
  top: -84px;
}
.a_25 {
  left: -17px;
  position: absolute;
  top: -103px;
}
.a_16 {
  left: -105px;
  position: absolute;
  top: -80px;
}
.a_22 {
  left: 168px;
  position: absolute;
  top: -173px;
  width: 75px;
}
.a_27 {
  left: -22px;
  position: absolute;
  top: -153px;
}
.a_33 {
  left: 66px;
  position: absolute;
  top: -195px;
  width: 200px;
}
.a_24 {
  left: -140px;
  position: absolute;
  top: -262px;
  width: 200px;
}
.a_11 {
  left: 53px;
  position: absolute;
  top: -163px;
  width: 100%;
}
	
	
}
@media only screen and (max-width: 800px){
	.tought_20 {
  top: -206px;
}
.tought_20 {
  top: -199px;
}
.a_33 {
  left: 148px;
  position: absolute;
  top: -212px;
  width: 200px;
}
.a_47 {
  left: -66px;
  position: absolute;
  top: -304px;
  width: 200px;
}
.a_143 {
  left: -27px;
  position: absolute;
  top: -279px;
  width: 200px;
}
.a_135 {
  left: -9em;
  position: absolute;
  top: -9em;
}
.a_69 {
  left: -9px;
  position: absolute;
  top: -265px;
}
.tought_20 {
  top: -205px !important;
}
.tought_7 {
  left: 44px;
}
.a_35 {
  left: -17px;
  position: absolute;
  top: -374px;
}
.a_18 {
  position: relative;
  top: -318px;
 
}
.a_41 {
  left: 70px;
  position: absolute;
  top: -400px;
  width: 200px;
}
.a_30 {
  left: -176px;
  position: absolute;
}
}	

@media only screen and (max-width: 1920px) and (min-width: 1700px) {
	.a_52 {
  left: 52px;
  position: absolute;
  top: -317px;
  visibility: visible;
}
.a_55 {
  left: 138px;
  position: relative;
  top: -343px;
  visibility: visible;
}
	.a_19 {
  left: -336px;
  position: absolute;
  top: -365px;
}
.a_35 {
  left: -283px;
  position: absolute;
  top: -374px;
}
.a_46 {
  left: -348px;
  position: absolute;
  top: -351px;
}
.a_112 {
  left: -82em;
  position: absolute;
  top: -32em;
  width: 46%;
}
.a_110 {
  left: -85em;
  position: absolute;
  top: -23em;
  width: 46%;
}
.a_108 {
  left: -84em;
  position: absolute;
  top: -14em;
  width: 46%;
}
.a_29 {
  left: -17em;
  position: absolute;
  top: -224px;
}
.a_58 {
  left: -12em;
  position: absolute;
  top: -360px;
}
.a_30 {
  left: -17em;
  position: absolute;
  top: -191px;
}
.a_18 {
  left: -15em;
  position: relative;
  top: -294px;
  width: 100px;
}
.a_11 {
  left: -12em;
  position: absolute;
  top: -196px;
  width: 100%;
}
.a_20 {
  left: -17em;
  position: absolute;
  top: -355px;
}
.a_100 {
  left: 51em;
  position: absolute;
  top: -57em;
  width: 46%;
}
.a_99 {
  left: 48em;
  position: absolute;
  top: -51em;
  width: 46%;
}
.a_51 {
  left: 23em;
  position: relative;
  top: -565px;
  width: 100px;
}
.a_44 {
  left: 453px;
  position: relative;
  top: -453px;
  width: 100px;
}
.a_98 {
  left: 51em;
  position: absolute;
  top: -44em;
  width: 46%;
}
.a_67 {
  left: 22em;
  position: absolute;
  top: -515px;
  width: 200px;
}
.a_40 {
  left: 370px;
  position: relative;
  top: -25em;
  width: 90px;
}
.a_95 {
  left: 49em;
  position: absolute;
  top: -34em;
  width: 50%;
}
.a_94 {
  left: 52em;
  position: absolute;
  top: -26em;
  width: 46%;
}
.a_96 {
  left: 38em;
  position: absolute;
  top: -30em;
  width: 52%;
}
.a_91 {
  left: 52em;
  position: absolute;
  top: -19em;
  width: 46%;
}
.a_93 {
  left: 42em;
  position: absolute;
  top: -23em;
  width: 46%;
}
.a_72 {
  left: 512px;
  position: relative;
  top: -216px;
  width: 100px;
}
.a_92 {
  left: 42em;
  position: absolute;
  top: -16em;
  width: 46%;
}
.a_90 {
  left: 51em;
  position: absolute;
  top: -11em;
  width: 46%;
}
.a_88 {
  left: 51em;
  position: absolute;
  top: -3em;
  width: 46%;
}
.a_79 {
  left: 38em;
  position: absolute;
  top: -2em;
  width: 59%;
}
.a_80 {
  left: 47em;
  position: absolute;
  top: 4em;
  width: 45%;
}
.a_82 {
  left: 33em;
  position: absolute;
  top: 4em;
  width: 45%;
}
.a_81 {
  left: 24em;
  position: absolute;
  top: -3em;
  width: 52%;
}
.a_84 {
  left: 15em;
  position: absolute;
  top: 0;
  width: 46%;
}
.a_121 {
  left: 5em;
  position: absolute;
  top: 0;
  width: 46%;
}
.a_105 {
  left: -86em;
  position: absolute;
  top: 3em;
  width: 60%;
}
.a_4 {
  left: -399px;
  position: absolute;
  top: 480px;
}
.a_107 {
  left: -86em;
  position: absolute;
  top: -5em;
  width: 46%;
}
.a_3 {
  left: -342px;
  position: absolute;
  top: 409px;
}
.a_2 {
  left: -478px;
  position: absolute;
  top: 367px;
}
.a_74 {
  left: -83px;
  position: absolute;
  top: -157px;
}
.a_143 {
  left: -23px;
  position: absolute;
  top: -295px;
}
.a_109 {
  left: -73em;
  position: absolute;
  top: -17em;
  width: 46%;
}
.a_75 {
  left: -201px;
  position: absolute;
  top: -289px;
}
.a_69 {
  left: -19em;
  position: absolute;
  top: -237px;
}
.a_112 {
  left: -85em;
  position: absolute;
  top: -32em;
  width: 46%;
}
.a_35 {
  left: -330px;
  position: absolute;
  top: -374px;
}
.a_41 {
  left: -19em;
  position: absolute;
  top: -377px;
}
.a_24 {
  left: -30em;
  position: absolute;
  top: -192px;
  width: 200px;
}
.a_5 {
  left: -96px;
  position: absolute;
  top: -181px;
}
.a_21 {
  left: -21em;
  position: absolute;
  top: -273px;
  width: 200px;
}
.a_23 {
  left: -11em;
  position: absolute;
  top: -265px;
  width: 75px;
}
.a_22 {
  left: 60px;
  position: absolute;
  top: -203px;
  width: 75px;
}
.a_13 {
  left: 77px;
  position: absolute;
  top: -298px;
  width: 100%;
}
.a_14 {
  left: -60px;
  position: absolute;
  top: -289px;
  visibility: visible;
}
.a_12 {
  left: -70px;
  position: absolute;
  top: -293px;
  visibility: visible;
}
.navbar-nav {
  left: 9px;
  position: relative;
  width: 31%;
}
.a_103 {
  left: -85em;
  position: absolute;
  top: 21em;
  width: 60%;
}
.a_104 {
  left: -85em;
  position: absolute;
  top: 12em;
  width: 46%;
}
.a_114 {
  left: -69em;
  position: absolute;
  top: 22em;
  width: 46%;
}
.a_117 {
  left: -76em;
  position: absolute;
  top: 16em;
  width: 46%;
}
.a_115 {
  left: -74em;
  position: absolute;
  top: 9em;
  width: 46%;
}
.a_116 {
  left: -65em;
  position: absolute;
  top: 5em;
  width: 46%;
}
.a_102 {
  left: -56em;
  position: absolute;
  top: 22em;
  width: 46%;
}
.a_119 {
  left: -63em;
  position: absolute;
  top: 16em;
  width: 46%;
}
.a_113 {
  left: -60em;
  position: absolute;
  top: 11em;
  width: 46%;
}
.a_145 {
  left: -66px;
  position: absolute;
  top: 14em;
}
.a_127 {
  left: 6em;
  position: absolute;
  top: 16em;
}
.a_138 {
  left: -27em;
  position: absolute;
  top: 9em;
}
.a_113 {
  left: -55em;
  position: absolute;
  top: 9em;
  width: 46%;
}
.a_129 {
  left: 58px;
  position: absolute;
  top: 9px;
}
.a_63 {
  left: -65px;
  position: relative;
  top: 70px;
}
.a_76 {
  left: -2em;
  position: absolute;
  top: 14em;
}
.a_133 {
  left: 55px;
  position: absolute;
  top: 19em;
}
.a_120 {
  left: -20em;
  position: absolute;
  top: 18em;
  width: 46%;
}
.a_140 {
  left: -3em;
  position: absolute;
  top: 8em;
}
.a_136 {
  left: 3em;
  position: absolute;
  top: 1em;
}
.a_122 {
  left: -8em;
  position: absolute;
  top: 16em;
  width: 58%;
}
.a_148 {
  left: 100px;
  position: absolute;
  top: 16em;
}
.a_121 {
  left: 1em;
  position: absolute;
  top: 0;
  width: 46%;
}
.a_78 {
  left: 3em;
  position: absolute;
  top: 20em;
}
.a_66 {
  left: 4em;
  position: absolute;
  top: 19em;
  width: 300px;
}
.a_61 {
  left: 22em;
  position: absolute;
  top: 22em;
  width: 300px;
}
.a_33 {
  left: 35em;
  position: absolute;
  top: 44em;
  width: 300px;
}
.a_45 {
  left: 36em;
  position: relative;
  top: 37em;
}
.a_26 {
  left: 40em;
  position: relative;
  top: 45em;
}
.a_37 {
  left: 89em;
  position: absolute;
  top: 31em;
  width: 300px;
}


}
@media only screen and (max-width: 1280px){
	
.a_51 {
  left: 124px;
  position: relative;
  top: -565px;
  width: 100px;
}
}
@media only screen and (max-width: 991px){
.a_51 {
  left: 124px;
  position: relative;
  top: -536px;
  width: 100px;
}

}


@media only screen and (max-width: 800px){
.a_129 {
  left: 100px;
  position: absolute;
  top: 34em;
  width: 200px;
}
.a_140 {
  left: 2em;
  position: absolute;
  top: 33em;
}
.a_76 {
  left: 69px;
  position: absolute;
  top: 30em;
  width: 200px;
}
.a_122 {
  left: 0;
  position: absolute;
  top: 4em;
  width: 200px;
}
.a_85 {
  left: 10em;
  position: absolute;
  top: 35em;
  width: 200px;
}
.a_82 {
  left: 14em;
  position: absolute;
  top: 28em;
  width: 200px;
}
.a_121 {
  left: -4em;
  position: absolute;
  top: 0;
  width: 200px;
}
.a_123 {
  left: 11em;
  position: absolute;
  top: 9em;
  width: 200px;
}
.a_128 {
  left: -3em;
  position: absolute;
  top: 31em;
  width: 200px;
}
.a_101 {
  left: -37em;
  position: absolute;
  top: 6em;
  width: 200px;
}
.a_120 {
  left: -15em;
  position: absolute;
  top: 7em;
  width: 200px;
}
.a_35 {
  left: -17px;
  position: absolute;
  top: 50em;
}
.a_23 {
  left: -40px;
  position: absolute;
  top: 63em;
  width: 75px;
}
.a_41 {
  left: 12em;
  position: absolute;
  top: 45em;
  width: 200px;
}
.a_25 {
  left: 11em;
  position: absolute;
  top: 61em;
  width: 200px;
}
.a_53 {
  left: -8em;
  position: absolute;
  top: 32em;
}
.a_66 {
  position: absolute;
  top: 32em;
}
.a_77 {
  left: -83px;
  position: relative;
  top: 24em;
}
.a_49 {
  left: 282px;
  position: relative;
  top: 34em;
  width: 200px;
}
.a_26 {
  left: 34px;
  position: relative;
  top: 45em;
}
.a_86 {
  left: 15em;
  position: absolute;
  top: 15em;
  width: 46%;
}
.a_121 {
  left: -4em;
  position: absolute;
  top: 22em;
  width: 200px;
}
.a_84 {
  left: 12em;
  position: absolute;
  top: 32px;
  width: 46%;
}
.a_145 {
  left: 7em;
  position: absolute;
  top: 9em;
  width: 200px;
}
.a_138 {
  left: -16em;
  position: absolute;
  top: 12em;
}
.a_63 {
  left: -17em;
  position: relative;
  top: 22em;
}
.a_70 {
  left: 55px;
  position: absolute;
  top: 22em;
  width: 120px;
}
.a_64 {
  left: 10em;
  position: absolute;
  top: 16em;
  width: 200px;
}
.a_22 {
  left: 168px;
  position: absolute;
  top: 34em;
  width: 75px;
}

}
@media only screen and (max-width: 767px){

	.a_1 {
	left: -26px;
	position: absolute;
	top: -26px;
	width: 218px;
	}
	.a_9 {
  top: -33px;
}
.a_62 {
  left: -79px;
  position: absolute;
  top: 83px;
  width: 200px;
}
.a_55 {
  left: 217px;
  top: -337px;
}
.a_38 {
  left: 40px;
  position: absolute;
  top: -211px;
}
.a_52 {
  left: 189px;
  position: absolute;
  top: -276px;
  width: 200px;
}
.a_47 {
  left: -93px;
  position: absolute;
  top: -304px;
  width: 200px;
}
.a_31 {
  left: 23px;
  position: absolute;
  top: -28px;
}
.a_71 {
  left: 16em;
  position: absolute;
  top: -185px;
  width: 100px;
}
.a_141 {
  left: 175px;
  position: absolute;
  top: -234px;
  width: 100px;
}
.a_147 {
  left: 213px;
  position: absolute;
  top: -336px;
  width: 110px;
}
.a_124 {
  left: 113px;
  position: absolute;
  top: -402px;
  width: 200px;
}
.a_69 {
  left: -9px;
  position: absolute;
  top: -219px;
}
.a_143 {
  left: 3px;
  position: absolute;
  top: -279px;
  width: 200px;
}
.a_144 {
  position: absolute;
  top: -243px;
}
.a_127 {
  left: -45px;
  position: absolute;
  top: -158px;
}
.a_130 {
  left: -39px;
  position: absolute;
  top: -93px;
}
.a_48 {
  left: -186px;
  position: absolute;
  top: -147px;
}
.a_84 {
  left: 12em;
  position: absolute;
  top: 63px;
  width: 46%;
}
.a_29 {
  left: -9px;
  position: absolute;
  top: -224px;
}
.a_1 {
  left: -26px;
  position: absolute;
  top: 92px;
  width: 218px;
}
.a_73 {
  left: -32px;
  position: absolute;
  top: 48px;
  width: 195%;
}
.a_9 {
  top: 82px;
}
.a_32 {
  left: -97px;
  position: absolute;
  top: 94px;
}

}

@media only screen and (max-width: 540px){

.a_27 {
  left: 6px;
  position: absolute;
  top: -152px;
  width: 103px;
}
.a_16 {
  left: -86px;
  position: absolute;
  top: -80px;
}
.a_55 {
  left: 150px;
  top: -337px;
  width: 150px;
}
.a_38 {
  left: -16px;
  position: absolute;
  top: -211px;
  width: 150px;
}
.a_37 {
  left: -35px;
  position: absolute;
  top: -186px;
}
.a_47 {
  left: -65px;
  position: absolute;
  top: -310px;
  width: 200px;
}
.a_60 {
  left: 189px;
  position: absolute;
  top: -267px;
  width: 130px;
}
.a_31 {
  left: -22px;
  position: absolute;
  top: -4px;
  width: 150px;
}
.a_59 {
  position: absolute;
  top: -180px;
  width: 150px;
}
.a_39 {
  left: 9px;
  position: absolute;
  top: -54px;
  width: 200px;
}
.a_52 {
  left: 189px;
  position: absolute;
  top: -254px;
  width: 200px;
}
.a_69 {
  left: -61px;
  position: absolute;
  top: -250px;
}
.a_144 {
  left: 9em;
  position: absolute;
  top: -254px;
  width: 120px;
}
.a_127 {
  left: 11em;
  position: absolute;
  top: -164px;
  width: 100px;
}
.a_136 {
  left: -10em;
  position: absolute;
  top: -5em;
}
.a_122 {
  left: -5em;
  position: absolute;
  top: 7em;
  width: 200px;
}
.a_84 {
  left: 8em;
  position: absolute;
  top: 63px;
  width: 100px;
}
.a_137 {
  left: -8em;
  position: absolute;
  top: 1em;
}
.a_120 {
  left: -15em;
  position: absolute;
  top: 9em;
  width: 200px;
}
.a_118 {
  left: -25em;
  position: absolute;
  top: 8em;
  width: 100px;
}
.a_78 {
  left: 5px;
  position: absolute;
  top: -69px;
  width: 100px;
}
}

@media only screen and (max-width: 414px){
.a_15 {
  left: -180px;
  position: absolute;
  top: -102px;
}
.a_27 {
  left: 35px;
  position: absolute;
  top: -158px;
  width: 103px;
}
.a_29 {
  left: -9px;
  position: absolute;
  top: -168px;
}
.a_47 {
  left: -41px;
  position: absolute;
  top: -310px;
  width: 119px;
}
.a_38 {
  left: -34px;
  position: absolute;
  top: -226px;
  width: 150px;
}
.a_45 {
  left: -110px;
  position: relative;
  top: -294px;
  width: 130px;
}
.a_55 {
  left: 92px;
  top: -332px;
  width: 150px;
}
.a_37 {
  left: 86px;
  position: absolute;
  top: -196px;
  width: 120px;
}
.a_47 {
  left: -41px;
  position: absolute;
  top: -257px;
  width: 119px;
}
.a_52 {
  left: 148px;
  position: absolute;
  top: -221px;
  width: 200px;
}
.tought_17.bow.animated.zoomIn.a_-27 {
  left: 64px;
  position: relative;
  width: 120px;
}
.a_60 {
  left: 229px;
  position: absolute;
  top: -267px;
  width: 130px;
}
.a_48 {
  left: -117px;
  position: absolute;
  top: -167px;
}
.a_31 {
  left: -67px;
  position: absolute;
  top: 8px;
  width: 150px;
}
.a_59 {
  left: -3em;
  position: absolute;
  top: -180px;
  width: 150px;
}
.a_61 {
  left: 23px;
  position: absolute;
  top: -199px;
  width: 200px;
}
.a_71 {
  left: 10em;
  position: absolute;
  top: -185px;
  width: 100px;
}
.a_10 {
  left: -262px;
  position: absolute;
  top: 360px;
}
.a_133 {
  left: 123px;
  position: absolute;
  top: -154px;
  width: 200px;
}
.a_130 {
  left: -23px;
  position: absolute;
  top: -93px;
}
.a_134 {
  left: -201px;
  position: absolute;
  top: -145px;
}
.a_137 {
  left: -15em;
  position: absolute;
  top: 1em;
}
.a_122 {
  left: -11em;
  position: absolute;
  top: 3em;
  width: 200px;
}
.a_73 {
  left: -92px;
  position: absolute;
  top: 22px;
  width: 195%;
}
.a_22 {
  left: 80px;
  position: absolute;
  top: 42em;
  width: 75px;
}
.a_122 {
  left: -11em;
  position: absolute;
  top: 5em;
  width: 200px;
}
.a_139 {
  left: 63px;
  position: absolute;
  top: -1em;
  width: 200px;
}
.a_84 {
  left: 4em;
  position: absolute;
  top: 70px;
  width: 100px;
}
.a_136 {
  left: -3em;
  position: absolute;
  top: -7em;
}
}


@media only screen and (max-width: 414px){
.a_34 {
  width: 150px;
}
.a_65 {
  left: -15px;
  position: absolute;
  top: -189px;
  width: 100px;
}
.a_15 {
  left: -155px;
  position: absolute;
  top: -102px;
}
.a_16 {
  left: -158px;
  position: absolute;
  top: -57px;
}
.a_45 {
  left: -127px;
  position: relative;
  top: -313px;
  width: 130px;
}
.a_55 {
  left: 80px;
  top: -365px;
  width: 150px;
}
.a_37 {
  left: 160px;
  position: absolute;
  top: -203px;
  width: 120px;
}
.a_38 {
  left: -1px;
  position: absolute;
  top: -210px;
  width: 150px;
}
.tought_17.bow.animated.zoomIn.a_-27 {
  left: 46px;
  position: relative;
  width: 120px;
}
.a_9 {
  top: 92px;
  left:-118px;
}
.a_10 {
  left: -242px;
  position: absolute;
  top: 369px;
}
.a_134 {
  left: -173px;
  position: absolute;
  top: -155px;
}
.a_135 {
  left: -6em;
  position: absolute;
  top: -10em;
}
.a_137 {
  left: -14em;
  position: absolute;
  top: 0;
}
.a_120 {
  left: -18em;
  position: absolute;
  top: 9em;
  width: 200px;
}
.a_122 {
  left: -11em;
  position: absolute;
  top: 4em;
  width: 200px;
}
.a_22 {
  left: 0;
  position: absolute;
  top: 42em;
  width: 75px;
}
.a_64 {
  left: 4em;
  position: absolute;
  top: 16em;
  width: 200px;
}
.tought_22.a_32 a{
	font-size:15px;
}
}
@media only screen and (max-width: 360px){
.a_27 {
  left: 2px;
  position: absolute;
  top: -158px;
  width: 103px;
}
.a_16 {
  left: -176px;
  position: absolute;
  top: -61px;
}
.a_45 {
  left: -148px;
  position: relative;
  top: -305px;
  width: 130px;
}
.a_55 {
  left: 67px;
  top: -380px;
  width: 150px;
}
.a_47 {
  left: -41px;
  position: absolute;
  top: -268px;
  width: 119px;
}
.a_48 {
  left: -92px;
  position: absolute;
  top: -183px;
}
.a_69 {
  left: -50px;
  position: absolute;
  top: -229px;
}
.a_31 {
  left: -111px;
  position: absolute;
  top: 2px;
  width: 150px;
}
.a_39 {
  left: -43px;
  position: absolute;
  top: -54px;
  width: 200px;
}
.a_61 {
  left: -5px;
  position: absolute;
  top: -208px;
  width: 200px;
}
.a_144 {
  left: 8em;
  position: absolute;
  top: -268px;
  width: 120px;
}
.a_131 {
  left: 124px;
  position: absolute;
  top: -204px;
  width: 120px;
}
.a_71 {
  left: 8em;
  position: absolute;
  top: -170px;
  width: 100px;
}
.a_133 {
  left: 101px;
  position: absolute;
  top: -154px;
  width: 200px;
}
.a_137 {
  left: -13em;
  position: absolute;
  top: 0;
}
.a_122 {
  left: -8em;
  position: absolute;
  top: 4em;
  width: 200px;
}
}